#sectionsobre{
    justify-content: center;
    background-color: lightgray;
    border-radius: 14px;
    padding: 0% 30px 0% 30px;
    width: 45%;
    height: 100%;
    
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px 10px;
    height: 100%;
    width: 100%;
}

#p{
    text-align: justify;
    font : 400 1.2rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 4px;
    padding: 10px;
    line-height: 1.6;
}

#h2{

    font: 700 2.5rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222;
    margin-bottom: 10px;
}


