
.titulo {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 1.2rem;
  color: #dbe8ff;
  margin-bottom: 60px;
}


.planos {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  margin: 20px auto;
}

.card {
  background-color: #0056b3;
  width: 350px;
  border-radius: 16px;
  padding: 30px 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.card .preco {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.card .detalhe {
  color: #bcd4ff;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  text-align: left;
  margin-bottom: 25px;
  font-size: 0.9rem;
  color: #e0ecff;
}

.card ul li {
  margin: 5px 0;
}

.card .btn {
  background-color: #fff;
  color: #004aad;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card .btn:hover {
  background-color: #dbe8ff;
}


.anual {
  background-color: #003d99;
}


.premium {
  background-color: #002b80;
}



.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .planos {
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .heromain{
    height: 1500px;
  }
  
}










